.flex {
  display: flex;
}

.flex-inline.flex-inline {
  display: inline-flex;
}

.flex-center {
  .flex;

  align-items: center;
  justify-content: center;
}

.flex-between {
  .flex;

  align-items: center;
  justify-content: space-between;
}

.flex-around {
  .flex;

  align-items: center;
  justify-content: space-around;
}

.flex-evenly {
  .flex;

  align-items: center;
  justify-content: space-evenly;
}

.flex-middle {
  .flex;

  align-items: center;
}

.flex-column {
  .flex;

  flex-direction: column;
}

.flex-auto {
  flex: auto; // 1 1 auto 放大
}

.flex-none {
  flex: none; // 0 0 auto 不缩小
}
